<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niavok.photomaton" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="landscape"
            android:name="com.niavok.photomaton.PreviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="com.niavok.photomaton.MainChooseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="com.niavok.photomaton.GuestbookInstructionsActivity"
            android:label="@string/title_activity_guestbook_instructions" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="com.niavok.photomaton.CaptureActivity"
            android:label="@string/title_activity_capture" >
        </activity>
    </application>

</manifest>
